@media screen and (min-width:956px){

    .App-logo {
      max-width: 300px!important;
      padding-bottom: 30px;
    }
  
    .Nav-container nav {
      display: flex;
      justify-content: space-between;
      max-width: 500px;
    }
  
    .Nav-container h3 {
      font-size: .85em!important;
      animation: animated-text 2s steps(23,end) 1s 1 normal both,
               animated-cursor 600ms steps(23,end) infinite;
    }
  
    .Subtext-container {
      width: 310px!important;
    }
  
    
  
  }
  
  
  
  
  /*------------------ Logo -------------------*/
  .App-logo {
    max-width: 250px;
    padding-top: 30vh;
    padding-bottom: 30px;
  }
  /*-------------- Header & Nav ----------------*/
  .Header-container {
    text-align: center;
    background-color: white;
    background-image: url(
      "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='2 0 4 4'%3E%3Cpath fill='%239293ac' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 10px;
  }
  
  .Subtext-container {
    width: 280px;
    margin: 0 auto;
  }
  
  .Subtext-container h3 {
    color: white;
  }
  
  .Nav-container {
    min-height: 300px;
    text-align: center;
    color: white;
    padding-top: 30px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 30px 1px;
    background-repeat: repeat-x;
  }
  
  .Nav-container h3 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-size: .7em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px rgba(140, 0, 255, 0.75);
    animation: animated-text 2s steps(23,end) 1s 1 normal both,
               animated-cursor 600ms steps(23,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 95%;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(166, 0, 255, 0.75);}
    to{border-right-color: transparent;}
  }
  
  .Nav-container nav {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    list-style: none;
    width: 40%;
    letter-spacing: 2px;
  }
  
  .Nav-container nav li {
    padding-bottom: 20px;
  }
  
  .Nav-container a {
    text-decoration: none;
    color: white;
  }