@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: #2A2D3C;
}

h1, h2, h3 ,h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0;
  letter-spacing: 1px;
}

h1, h2 {
  color: #2A2D3C;
}

h3, h4 {
  color: rgba(166, 0, 255, 0.75);
}

p {
  color: #2A2D3C;
}

a {
  color: rgba(166, 0, 255, 0.75);
  text-decoration: none;
}